@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
    --cor-cinza-1: #809FA6;
    --cor-cinza-2: #5A6E73;
    --cor-cinza-3: #2C3E40;
    --cor-principal: #4BA684;
    --cor-branco: #D4D9D2;
    --fonte-titulo: "Roboto Slab", serif;
    --fonte-corpo: "Inter", sans-serif;
}
